@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: rgb(18, 18, 18);
  --bg-secondary: #312466;
  --bg-success: #64dd17;
  --bg-body: #2d2d30;
  --color-primary: #ffffff;

}

* {
  margin: 0px;
  padding: 0px;
  font-size: clamp(1rem, 1.5rem) !important;
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-primary) !important;
}

.icon {
  width: clamp(12px, 20px, 24px) !important;
  height: clamp(12px, 20px, 24px) !important;
  cursor: pointer;
}

.current-selected {
  color: var(--bg-secondary) !important;
}

.select:focus {
  outline: none !important;
}